.page-head {
	background: #2c2c31;
	display: flex;
	justify-content: space-between;
	padding: 36px;
	align-items: center;
}
.nav-item {
	display: inline-block;
	margin-left: 40px;
}
#header {
	width: 100%;
	height: 270px;
	position: relative;
}
